<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>自動批次新增指定名稱Branch&lt;br&gt;&#xd;
&lt;font color=&quot;red&quot;&gt;&lt;b&gt;請小心使用，按下去所有Branch就會一次開啟唷!!!!&lt;/b&gt;&lt;/font&gt;&lt;br&gt;&#xd;
manifest上有幾個git project，每一個都會被開出branch&lt;br&gt;&#xd;
&#xd;
&lt;font color=&quot;red&quot;&gt;&lt;b&gt;開完不要忘記去改manifest唷~~~~&lt;/b&gt;&lt;/font&gt;&lt;br&gt;</description>
  <displayName>Batch_Create_MR_Branch_APP</displayName>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BATCH_NEW_BRANCH_NAME</name>
          <description>請輸入欲批次新增的Branch Name &lt;br&gt;
Ex : GEN1_9/MR3</description>
          <defaultValue>GEN1_9/test</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SOURCE_APP_XML</name>
          <description>請輸入愈批次新增的APP List (repo manifest)&lt;br&gt;
此項目通常不需修改</description>
          <defaultValue>31200006_APP.xml</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TARGET_GIT_PROJECT</name>
          <description>只新增指定專案的branch(通常測試用)&lt;br&gt;
Ex : RobotApps/SuggestionDownloader&lt;br&gt;
預設&quot;ALL&quot;為全部產生</description>
          <defaultValue>ALL</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>jenkins-239</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>/nuwa_disk2/workspace/auto_create_branch</customWorkspace>
  <builders>
    <hudson.tasks.Shell>
      <command>#SOURCE_APP_XML=${1}
#BATCH_NEW_BRANCH_NAME=${2}
AUTO_BRANCH_SCRIPT_PATH=&quot;/nuwa_disk2/workspace/auto_create_branch/script/create_branch.sh&quot;
GIT_SCRIPT_PATH=&quot;/nuwa_disk2/workspace/auto_create_branch/script/git_cmd.sh&quot;

#cp /nuwa_disk2/WillWu/branch/git_cmd.sh ./
#cp /nuwa_disk2/WillWu/branch/create_branch.sh ./

#DO NOT MODIFY
GIT_ACCOUNT=&quot;jk&quot;

if [ -z &quot;$BATCH_NEW_BRANCH_NAME&quot; ]; then
    echo &quot;BATCH_NEW_BRANCH_NAME is empty, branch name must input, exit process.&quot;
    exit 0
fi
if [ -z &quot;$SOURCE_APP_XML&quot; ]; then
    echo &quot;SOURCE_APP_XML is empty, manifest xml must input, exit process.&quot;
    exit 0
fi


$AUTO_BRANCH_SCRIPT_PATH $GIT_ACCOUNT $SOURCE_APP_XML $BATCH_NEW_BRANCH_NAME $TARGET_GIT_PROJECT
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <org.jenkinsci.plugins.builduser.BuildUser plugin="build-user-vars-plugin@1.5"/>
  </buildWrappers>
</project>