<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>此工具用來將上傳之APK，Sign上Nuwa Key。&#xd;
請上傳你的APK，並提供APK Name。</description>
  <displayName>SignAPK_Tool</displayName>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>APK_NAME</name>
          <description>請填寫APK NAME</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.FileParameterDefinition>
          <name>../upload/uploaded.apk</name>
          <description>請上傳你的APK</description>
        </hudson.model.FileParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>jenkins-239</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>/nuwa_disk2/workspace/signapk/build_result/</customWorkspace>
  <builders>
    <hudson.tasks.Shell>
      <command>mkdir $BUILD_NUMBER
cd ./$BUILD_NUMBER
cp ../../apksigner.jar ./apksigner.jar
cp ../../nuwatest.keystore ./nuwatest.keystore
cp ../../upload/uploaded.apk ./$APK_NAME
java -jar apksigner.jar sign --ks nuwatest.keystore --ks-key-alias 1 --ks-pass pass:nuwa8888 $APK_NAME

#remove tool in local folder
rm ./apksigner.jar
rm ./nuwatest.keystore</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.descriptionsetter.DescriptionSetterPublisher plugin="description-setter@1.10">
      <regexp></regexp>
      <regexpForFailed></regexpForFailed>
      <description>${BUILD_USER} - &lt;a target=&quot;_blank&quot; href=&quot;http://192.168.1.230:8080/job/SignAPK/lastSuccessfulBuild/artifact/build_result/${BUILD_NUMBER}/${APK_NAME}&quot; &gt;${APK_NAME}&lt;/a&gt;</description>
      <setForMatrix>false</setForMatrix>
    </hudson.plugins.descriptionsetter.DescriptionSetterPublisher>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>build_result/${BUILD_NUMBER}/*.apk</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers>
    <org.jenkinsci.plugins.builduser.BuildUser plugin="build-user-vars-plugin@1.5"/>
  </buildWrappers>
</project>