<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.5.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>ssh://jk@192.168.1.29:29418/Algorithms/ObjectRecModule.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/dev</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <assignedNode>jenkins-3</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>ANDROID_HOME=/usr/local/Android-SDK
export ANDROID_HOME
cat /var/jenkins/workspace/Pre-Algorithms-ObjectRecModule-debug/env.properties
cd $WORKSPACE
./gradlew  clean assembleDebug</command>
    </hudson.tasks.Shell>
    <org.sonatype.nexus.ci.nxrm.NexusPublisherBuildStep plugin="nexus-jenkins-plugin@1.3.20170728-122322.902d97e">
      <nexusInstanceId>nexus</nexusInstanceId>
      <nexusRepositoryId>snapshots</nexusRepositoryId>
      <packages>
        <org.sonatype.nexus.ci.nxrm.MavenPackage>
          <coordinate>
            <groupId>com.nuwarobotics.service.camera.ObjectRecModule</groupId>
            <artifactId>facemodule2</artifactId>
            <version>$FACEMODULE2_VERSION</version>
            <packaging>aar</packaging>
          </coordinate>
          <assets>
            <org.sonatype.nexus.ci.nxrm.MavenAsset>
              <filePath>/var/jenkins/workspace/Algorithms-ObjectRecModule-debug/facemodule2/build/outputs/aar/facemodule2-debug.aar</filePath>
              <classifier></classifier>
              <extension></extension>
            </org.sonatype.nexus.ci.nxrm.MavenAsset>
          </assets>
        </org.sonatype.nexus.ci.nxrm.MavenPackage>
        <org.sonatype.nexus.ci.nxrm.MavenPackage>
          <coordinate>
            <groupId>com.nuwarobotics.service.camera.ObjectRecModule</groupId>
            <artifactId>objectmodule</artifactId>
            <version>$OBJECTMODULE_VERSION</version>
            <packaging>aar</packaging>
          </coordinate>
          <assets>
            <org.sonatype.nexus.ci.nxrm.MavenAsset>
              <filePath>/var/jenkins/workspace/Algorithms-ObjectRecModule-debug/objectmodule/build/outputs/aar/objectmodule-debug.aar</filePath>
              <classifier></classifier>
              <extension></extension>
            </org.sonatype.nexus.ci.nxrm.MavenAsset>
          </assets>
        </org.sonatype.nexus.ci.nxrm.MavenPackage>
        <org.sonatype.nexus.ci.nxrm.MavenPackage>
          <coordinate>
            <groupId>com.nuwarobotics.service.camera.ObjectRecModule</groupId>
            <artifactId>facemodule3</artifactId>
            <version>$FACEMODULE3_VERSION</version>
            <packaging>aar</packaging>
          </coordinate>
          <assets>
            <org.sonatype.nexus.ci.nxrm.MavenAsset>
              <filePath>/var/jenkins/workspace/Algorithms-ObjectRecModule-debug/facemodule3/build/outputs/aar/facemodule3-debug.aar</filePath>
              <classifier></classifier>
              <extension></extension>
            </org.sonatype.nexus.ci.nxrm.MavenAsset>
          </assets>
        </org.sonatype.nexus.ci.nxrm.MavenPackage>
        <org.sonatype.nexus.ci.nxrm.MavenPackage>
          <coordinate>
            <groupId>com.nuwarobotics.service.camera.ObjectRecModule</groupId>
            <artifactId>ObjectRecModule_debug_signed</artifactId>
            <version>$APP_VERSION</version>
            <packaging>apk</packaging>
          </coordinate>
          <assets>
            <org.sonatype.nexus.ci.nxrm.MavenAsset>
              <filePath>/var/jenkins/workspace/Algorithms-ObjectRecModule-debug/app/build/outputs/apk/app-debug.apk</filePath>
              <classifier></classifier>
              <extension></extension>
            </org.sonatype.nexus.ci.nxrm.MavenAsset>
          </assets>
        </org.sonatype.nexus.ci.nxrm.MavenPackage>
        <org.sonatype.nexus.ci.nxrm.MavenPackage>
          <coordinate>
            <groupId>com.nuwarobotics.service.camera.ObjectRecModule</groupId>
            <artifactId>gesturemodule</artifactId>
            <version>$GESTUREMODULE_VERSION</version>
            <packaging>aar</packaging>
          </coordinate>
          <assets>
            <org.sonatype.nexus.ci.nxrm.MavenAsset>
              <filePath>/var/jenkins/workspace/Algorithms-ObjectRecModule-debug/gesturemodule/build/outputs/aar/gesturemodule-debug.aar</filePath>
              <classifier></classifier>
              <extension></extension>
            </org.sonatype.nexus.ci.nxrm.MavenAsset>
          </assets>
        </org.sonatype.nexus.ci.nxrm.MavenPackage>
        <org.sonatype.nexus.ci.nxrm.MavenPackage>
          <coordinate>
            <groupId>com.nuwarobotics.service.camera.ObjectRecModule</groupId>
            <artifactId>tensorflowmodule </artifactId>
            <version>$TFMODULE_VERSION</version>
            <packaging>aar</packaging>
          </coordinate>
          <assets>
            <org.sonatype.nexus.ci.nxrm.MavenAsset>
              <filePath>/var/jenkins/workspace/Algorithms-ObjectRecModule-debug/tfmodule/build/outputs/aar/tfmodule-debug.aar</filePath>
              <classifier></classifier>
              <extension></extension>
            </org.sonatype.nexus.ci.nxrm.MavenAsset>
          </assets>
        </org.sonatype.nexus.ci.nxrm.MavenPackage>
      </packages>
    </org.sonatype.nexus.ci.nxrm.NexusPublisherBuildStep>
  </builders>
  <publishers>
    <jenkins.plugins.slack.SlackNotifier plugin="slack@2.2">
      <baseUrl></baseUrl>
      <teamDomain></teamDomain>
      <authToken></authToken>
      <authTokenCredentialId></authTokenCredentialId>
      <botUser>false</botUser>
      <room></room>
      <startNotification>true</startNotification>
      <notifySuccess>true</notifySuccess>
      <notifyAborted>true</notifyAborted>
      <notifyNotBuilt>true</notifyNotBuilt>
      <notifyUnstable>true</notifyUnstable>
      <notifyRegression>true</notifyRegression>
      <notifyFailure>true</notifyFailure>
      <notifyBackToNormal>true</notifyBackToNormal>
      <notifyRepeatedFailure>false</notifyRepeatedFailure>
      <includeTestSummary>false</includeTestSummary>
      <includeFailedTests>false</includeFailedTests>
      <commitInfoChoice>NONE</commitInfoChoice>
      <includeCustomMessage>false</includeCustomMessage>
      <customMessage></customMessage>
    </jenkins.plugins.slack.SlackNotifier>
  </publishers>
  <buildWrappers>
    <EnvInjectBuildWrapper plugin="envinject@2.1.3">
      <info>
        <propertiesFilePath>/var/jenkins/workspace/Pre-Algorithms-ObjectRecModule-debug/env.properties</propertiesFilePath>
        <secureGroovyScript plugin="script-security@1.31">
          <script></script>
          <sandbox>false</sandbox>
        </secureGroovyScript>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
    </EnvInjectBuildWrapper>
  </buildWrappers>
</project>