<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.5.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>git@github.com:johncchen/nexus.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Maven>
      <targets>clean install -V -B</targets>
      <mavenName>M3</mavenName>
      <pom>maven/simple-project/pom.xml</pom>
      <usePrivateRepository>false</usePrivateRepository>
      <settings class="jenkins.mvn.DefaultSettingsProvider"/>
      <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
      <injectBuildVariables>false</injectBuildVariables>
    </hudson.tasks.Maven>
    <org.sonatype.nexus.ci.nxrm.NexusPublisherBuildStep plugin="nexus-jenkins-plugin@1.3.20170728-122322.902d97e">
      <nexusInstanceId>nexus</nexusInstanceId>
      <nexusRepositoryId>releases</nexusRepositoryId>
      <packages>
        <org.sonatype.nexus.ci.nxrm.MavenPackage>
          <coordinate>
            <groupId>org.jenkins-ci.main</groupId>
            <artifactId>jenkins-war</artifactId>
            <version>2.23</version>
            <packaging>war</packaging>
          </coordinate>
          <assets>
            <org.sonatype.nexus.ci.nxrm.MavenAsset>
              <filePath>war/target/jenkins.war</filePath>
              <classifier></classifier>
              <extension></extension>
            </org.sonatype.nexus.ci.nxrm.MavenAsset>
          </assets>
        </org.sonatype.nexus.ci.nxrm.MavenPackage>
      </packages>
    </org.sonatype.nexus.ci.nxrm.NexusPublisherBuildStep>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>