<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.5.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>ssh://jk@192.168.1.29:29418/NuwaCore/KiwiService.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <assignedNode>jenkins-6</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>FDS_VERSION=`cat AndroidManifest.xml | grep &quot;versionName&quot; | awk -F: &apos;{print $2}&apos; | awk -F= &apos;{print $2}&apos; | sed -e &apos;s/&gt;//g&apos; | sed -e &apos;s/&quot;//g&apos; | sed -e &apos;s/ //g&apos;`

FDS_CODE=`cat AndroidManifest.xml | grep &quot;versionCode&quot; | awk -F: &apos;{print $2}&apos; | awk -F= &apos;{print $2}&apos; | sed -e &apos;s/&gt;//g&apos; | sed -e &apos;s/&quot;//g&apos; | sed -e &apos;s/ //g&apos;`

FDS_ID=`cat AndroidManifest.xml | grep &quot;package&quot; | awk -F= &apos;{print $2}&apos; | awk &apos;{print $1}&apos;| grep -v package | sed -e &apos;s/&quot;//g&apos;`

FDS_PATH=&quot;/var/jenkins/workspace/NuwaCore-KiwiService-release/build/outputs/apk/KiwiService_mibo_release_signed.apk&quot;
TIME=`date +&quot;%Y-%m-%d_%H%M&quot;`

GIT_HASH=`git rev-parse HEAD`
HEAD=${GIT_HASH:0:6}

echo $FDS_VERSION

echo $FDS_CODE

echo $FDS_ID


/root/.nvm/versions/node/v8.9.4/bin/node /var/jenkins/backend-tool-ota-cli/process.js &apos;{&quot;type&quot;:&quot;apk&quot;,&quot;packageName&quot;:&quot;&apos;$FDS_ID&apos;&quot;,&quot;versionCode&quot;:&quot;&apos;$FDS_CODE&apos;&quot;,&quot;versionName&quot;:&quot;&apos;$FDS_VERSION&apos;&quot;,&quot;description&quot;:&quot;&apos;$FDS_ID&apos;&quot;,&quot;packageType&quot;:&quot;full&quot;,&quot;sku&quot;:&quot;generic_cn&quot;,&quot;file&quot;:&quot;&apos;$FDS_PATH&apos;&quot;,&quot;env&quot;:&quot;uat&quot;,&quot;isForcePublish&quot;:&quot;y&quot;}&apos;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <jenkins.plugins.slack.SlackNotifier plugin="slack@2.2">
      <baseUrl></baseUrl>
      <teamDomain></teamDomain>
      <authToken></authToken>
      <authTokenCredentialId></authTokenCredentialId>
      <botUser>false</botUser>
      <room></room>
      <startNotification>true</startNotification>
      <notifySuccess>true</notifySuccess>
      <notifyAborted>true</notifyAborted>
      <notifyNotBuilt>true</notifyNotBuilt>
      <notifyUnstable>true</notifyUnstable>
      <notifyRegression>true</notifyRegression>
      <notifyFailure>true</notifyFailure>
      <notifyBackToNormal>true</notifyBackToNormal>
      <notifyRepeatedFailure>false</notifyRepeatedFailure>
      <includeTestSummary>false</includeTestSummary>
      <includeFailedTests>false</includeFailedTests>
      <commitInfoChoice>NONE</commitInfoChoice>
      <includeCustomMessage>false</includeCustomMessage>
      <customMessage></customMessage>
    </jenkins.plugins.slack.SlackNotifier>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.61">
      <recipientList>chen.john@nuwarobotics.com</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
      </configuredTriggers>
      <contentType>text/html</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
      <postsendScript>$DEFAULT_POSTSEND_SCRIPT</postsendScript>
      <attachBuildLog>true</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_REPLYTO</replyTo>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers>
    <EnvInjectBuildWrapper plugin="envinject@2.1.3">
      <info>
        <propertiesFilePath>/var/jenkins/workspace/Pre-NuwaCore-KiwiService/env.properties</propertiesFilePath>
        <secureGroovyScript plugin="script-security@1.31">
          <script></script>
          <sandbox>false</sandbox>
        </secureGroovyScript>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
    </EnvInjectBuildWrapper>
  </buildWrappers>
</project>